@charset "UTF-8";
/*#top*/
#top { width: 100%; height: 45px; position: fixed; left: 0; top: 0; background: #f8f8f8; border-bottom: 1px solid #d8d8d8; text-align: center; }

.top_box { margin: 8px; background-color: #eee; font-size: 12px; height: 28px; line-height: 28px; color: #878787; }

/*#main*/
#main { width: 100%; }

.mainleft { position: fixed; left: 0; top: 47px; width: 80px; background-color: #f5f5f5; height: calc(100% - 47px); overflow-y: auto; text-align: center; }

.mainleft div { font-size: 14px; color: #3a3a3a; height: 42px; line-height: 42px; border: 2px solid #f5f5f5; border-right: 0; background-color: #f5f5f5; }

.mainleft .active { font-size: 14px; height: 42px; line-height: 42px; border: 2px solid #f5f5f5; border-right: 0; border-left: 2px solid #65a032; color: #65a032; background-color: #fff; }

/*问题点:之前的.active属性一直不显示.原因:属性之间的层叠没有理解清楚*/
.mainright { margin: 47px 0 0 80px; min-height: 248px; }

.box { padding: 10px 10px 18px 10px; }

.box1 p { height: 30px; line-height: 30px; font-size: 14px; font-weight: 400; text-align: center; }

.box1 p span:nth-child(2) { float: right; }

.box1 p span:nth-child(2) a { display: block; height: 30px; line-height: 30px; font-size: 12px; color: #878787; }

.mainright .box1 dl { width: 33%; height: 204px; box-sizing: border-box; text-align: center; padding-bottom: 20px; float: left; }

.mainright .box1 dl dt { padding: 0 10px; }

.mainright .box1 dl dt img { width: 100%; }

.mainright .box1 dl dd { font-size: 12px; margin-top: 4px; color: #3a3a3a; }

.box2 p { height: 30px; line-height: 30px; font-size: 14px; font-weight: 400; text-align: center; }

.box2 p span:nth-child(2) { float: right; }

.box2 p span:nth-child(2) a { display: block; height: 30px; line-height: 30px; font-size: 12px; color: #878787; }

.mainright .box2 dl { width: 33%; height: 204px; box-sizing: border-box; text-align: center; padding-bottom: 20px; float: left; }

.mainright .box2 dl dt { padding: 0 10px; }

.mainright .box2 dl dt img { width: 100%; }

.mainright .box2 dl dd { font-size: 12px; margin-top: 4px; color: #3a3a3a; }

.box3 p { height: 30px; line-height: 30px; font-size: 14px; font-weight: 400; text-align: center; }

.box3 p span:nth-child(2) { float: right; }

.box3 p span:nth-child(2) a { display: block; height: 30px; line-height: 30px; font-size: 12px; color: #878787; }

.mainright .box3 dl { width: 33%; height: 204px; box-sizing: border-box; text-align: center; padding-bottom: 20px; float: left; }

.mainright .box3 dl dt { padding: 0 10px; }

.mainright .box3 dl dt img { width: 100%; }

.mainright .box3 dl dd { font-size: 12px; margin-top: 4px; color: #3a3a3a; }

.box4 p { height: 30px; line-height: 30px; font-size: 14px; font-weight: 400; text-align: center; }

.box4 p span:nth-child(2) { float: right; }

.box4 p span:nth-child(2) a { display: block; height: 30px; line-height: 30px; font-size: 12px; color: #878787; }

.mainright .box4 dl { width: 33%; height: 204px; box-sizing: border-box; text-align: center; padding-bottom: 20px; float: left; }

.mainright .box4 dl dt { padding: 0 10px; }

.mainright .box4 dl dt img { width: 100%; }

.mainright .box4 dl dd { font-size: 12px; margin-top: 4px; color: #3a3a3a; }

.box5 p { height: 30px; line-height: 30px; font-size: 14px; font-weight: 400; text-align: center; }

.box5 p span:nth-child(2) { float: right; }

.box5 p span:nth-child(2) a { display: block; height: 30px; line-height: 30px; font-size: 12px; color: #878787; }

.mainright .box5 dl { width: 33%; height: 204px; box-sizing: border-box; text-align: center; padding-bottom: 20px; float: left; }

.mainright .box5 dl dt { padding: 0 10px; }

.mainright .box5 dl dt img { width: 100%; }

.mainright .box5 dl dd { font-size: 12px; margin-top: 4px; color: #3a3a3a; }

.box6 p { height: 30px; line-height: 30px; font-size: 14px; font-weight: 400; text-align: center; }

.box6 p span:nth-child(2) { float: right; }

.box6 p span:nth-child(2) a { display: block; height: 30px; line-height: 30px; font-size: 12px; color: #878787; }

.mainright .box6 dl { width: 33%; height: 204px; box-sizing: border-box; text-align: center; padding-bottom: 20px; float: left; }

.mainright .box6 dl dt { padding: 0 10px; }

.mainright .box6 dl dt img { width: 100%; }

.mainright .box6 dl dd { font-size: 12px; margin-top: 4px; color: #3a3a3a; }

.box7 p { height: 30px; line-height: 30px; font-size: 14px; font-weight: 400; text-align: center; }

.box7 p span:nth-child(2) { float: right; }

.box7 p span:nth-child(2) a { display: block; height: 30px; line-height: 30px; font-size: 12px; color: #878787; }

.mainright .box7 dl { width: 33%; height: 204px; box-sizing: border-box; text-align: center; padding-bottom: 20px; float: left; }

.mainright .box7 dl dt { padding: 0 10px; }

.mainright .box7 dl dt img { width: 100%; }

.mainright .box7 dl dd { font-size: 12px; margin-top: 4px; color: #3a3a3a; }

.box8 p { height: 30px; line-height: 30px; font-size: 14px; font-weight: 400; text-align: center; }

.box8 p span:nth-child(2) { float: right; }

.box8 p span:nth-child(2) a { display: block; height: 30px; line-height: 30px; font-size: 12px; color: #878787; }

.mainright .box8 dl { width: 33%; height: 204px; box-sizing: border-box; text-align: center; padding-bottom: 20px; float: left; }

.mainright .box8 dl dt { padding: 0 10px; }

.mainright .box8 dl dt img { width: 100%; }

.mainright .box8 dl dd { font-size: 12px; margin-top: 4px; color: #3a3a3a; }

/*#bottom*/
#bottom { width: 100%; position: fixed; left: 0; bottom: 0; box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.15); background: #fff; height: 42px; }

#bottom a { display: inline-block; width: 24%; height: 42px; line-height: 42px; font-size: 14px; color: #898989; text-align: center; text-decoration: none; }
